html
{

	height: 100%;

}


body
{
	
	height: 100%;

	margin: 0px;

}

h1
{

	font-size: 16px;
	letter-spacing: 2px;

	padding-top: 20px;

	font-family: 'Montserrat', sans-serif;
	color: #BBBBBB;

}

h2
{

	font-size: 20px; 
	padding: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;

	color: #606060;

	line-height: 10px;

}

h3
{

	font-size: 16px; 
	padding: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin-bottom: 30px; 

	color: #BBBBBB;

}


.container
{

	background-color: #F2F2F2;

	width: auto;
	min-height: 100%;

	margin: 0px;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 150px auto 100px;

	grid-gap: 20px;

	padding-left: 100px;
	padding-right: 100px;

}


#header
{

	grid-row-start: 1;

	display: grid;
	grid-template-columns: 200px auto 150px 150px 150px;
	grid-template-rows: 50px;

	grid-gap: 20px;

	align-content: center;

}


#upload-button
{

	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2pt;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;

	line-height: 50px;

	font-family: 'Roboto', sans-serif;

	border-radius: 4px;

	background-color: #E74C3C;

	height: 100%;

	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

	transition: all .15s ease-in-out;
   	-moz-transition: all .15s ease-in-out;
   	-webkit-transition: all .15s ease-in-out;

	grid-column: 5 / 6;
	grid-row: 1;

}
#upload-button:hover
{

	margin-top: -4px;
	margin-bottom: 4px;

	-webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.20);

}
#upload-button:active
{

	background-color: #CB4335;

}


#browse-button
{

	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2pt;
	text-align: center;
	text-decoration: none;
	color: #BBBBBB;

	line-height: 50px;

	font-family: 'Roboto', sans-serif;

	background-color: rgba(0,0,0,0);

	height: 100%;

	border-bottom: 2px solid #BBBBBB;

	transition: all .15s ease-in-out;
   	-moz-transition: all .15s ease-in-out;
   	-webkit-transition: all .15s ease-in-out;

	grid-column: 3 / 4;
	grid-row: 1;

}
#browse-button:hover
{

	padding-bottom: 6px;
	margin-top: -8px;
	border-width: 2px;

	border-bottom: 4px solid #BBBBBB;

}


#profile-button
{

	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2pt;
	text-align: center;
	text-decoration: none;
	color: #303030;

	line-height: 50px;

	font-family: 'Roboto', sans-serif;

	border-bottom: 2px solid #303030;

	height: 100%;

	transition: all .15s ease-in-out;
   	-moz-transition: all .15s ease-in-out;
   	-webkit-transition: all .15s ease-in-out;

	grid-column: 4 / 5;
	grid-row: 1;

}
#profile-button:hover
{

	padding-bottom: 6px;
	margin-top: -8px;
	
	border-bottom: 4px solid #303030;
	
}

#logout-button
{

	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2pt;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #FFFFFF;

	border: none;

	line-height: 50px;

	font-family: 'Roboto', sans-serif;

	border-radius: 4px;

	background-color: #E74C3C;

	height: 50px;
	width: 150px; 

	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

	transition: all .15s ease-in-out;
   	-moz-transition: all .15s ease-in-out;
   	-webkit-transition: all .15s ease-in-out;
}

#logout-button:hover
{

	margin-top: -4px;
	margin-bottom: 4px;

	-webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.20);

}
#logout-button:active
{

	background-color: #CB4335;

}


#content
{

	grid-row-start: 2;

	width: 100%;

	display: grid;
	grid-gap: 20px;

	justify-content: center;

}


#account-info-header
{

	grid-column: 1, -1;

	width: 100%;
	height: 100%;

	margin: 0px;

}


#account-info
{

	background-color: #FFFFFF;

	border-radius: 4px;

	padding: 50px;

	-webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.20);

	width: 400px;

}


#models-section-header
{

	grid-column: 1, -1;

	width: 100%;
	height: 100%;

	margin: 0px;

}


#models-section
{

	background-color: #FFFFFF;

	border-radius: 4px;

	padding: 50px;

	-webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.20);

	width: 400px;

}


#printer-section-header
{

	grid-column: 1, -1;

	width: 100%;
	height: 100%;

	margin: 0px;

}


#printer-section
{

}


#footer
{

	grid-row-start: 3;
	grid-template-colums: 1fr;

}


#logo
{

	height: 100%;
	max-height: 50px;

	grid-column: 1 / 2;
	grid-row: 1;

}


.upload-item
{

	width: 100%;
	height: 50px;

	font-size: 14px;
	font-weight: bold;

	text-align: left;

	padding-left: 20px;

	font-family: 'Roboto', sans-serif;

	color: #606060;

	margin: 0px;

	border: none;
	border-radius: 4px;

	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

	transition: all .15s ease-in-out;
   	-moz-transition: all .15s ease-in-out;
   	-webkit-transition: all .15s ease-in-out;

	background-color: #F8F8F8;
	color: #606060;

}
.upload-item:hover
{

	margin-top: -4px;
	margin-bottom: 4px;

	-webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.20);

}
.upload-item:active
{

	margin-top: -4px;
	margin-bottom: 4px;

	-webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.20);

	background-color: #EEEEEE;

}


ul
{

	list-style-type: none;
	margin-left: -40px;

}


.upload-list-item
{

	margin-bottom: 20px;

}


#total-uploads-label
{

	line-height: 0px;
	padding-top: 20px;
	margin-bottom: 0px;

}